{% extends "_helpers/index.html" %}

<!-- Block with contacts list. -->
{% block content %}
    <h1>Contacts</h1>

    <!-- Button to create instance. -->
    <div>
        <!-- Add navigational lik down the page. -->
        <a href="{% url 'contacts:contacts_create' %}">
            <button>
                Create contact
            </button>
        </a>

    </div>

    <ol>
        <!-- Record block. -->
        {% for contact in object_list %}
            <li>
            <div style="display: flex; flex-flow: row;">
                    <!-- Info block. -->
                    <div style="margin: .2em;">
                        <p>Name: {{ contact.name }}</p>
                        <p>Phone: {{ contact.phone_number }}</p>
                        <p>Modified: {{ contact.modified_at }}</p>
                    </div>
                    <!-- Manage block. -->
                    <div style="margin: .2em;">
                        <a href="{% url 'contacts:contacts_update' contact.pk %}">
                            <button>
                                Update
                            </button>
                        </a>
                        <a href="{% url 'contacts:contacts_delete' contact.pk %}">
                            <button>
                                Delete
                            </button>
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ol>

{% endblock %}