<header>

    <div>Logo</div>

    <ul>
        <li>
            <!-- app_name:name in contacts/urls -->
            <a href="{% url 'contacts:contacts_list' %}">
                Generate contacts
            </a>
        </li>
        <li>
            <a href="{% url 'generator:value' %}">
                Generate users
            </a>
        </li>
        <li>
            <a href="{% url 'simple_view:simple_view' %}">
                Simple output
            </a>
        </li>

    </ul>
</header>