<header>

    <div>
        <h1>
            {% if view_name == "generator" %}
                List of generated users
            {% else %}
                List of contacts
            {% endif %}
        </h1>
    </div>

    <!-- Minimalistic menu to reset list. -->
    <li>
        {% if view_name == "generator" %}
            <a href="{% url 'generator:value' %}">Reset list of generated users</a>
        {% else %}
            <a href="{% url 'contacts:contacts_list' %}">Update list from database</a>
        {% endif %}

    </li>


</header>
